
@font-face {font-family: "dbl-icon-base";
  src: url('//at.alicdn.com/t/font_vy6lsp99qpfu5wmi.eot?t=1495094963108'); /* IE9*/
  src: url('//at.alicdn.com/t/font_vy6lsp99qpfu5wmi.eot?t=1495094963108#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_vy6lsp99qpfu5wmi.woff?t=1495094963108') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_vy6lsp99qpfu5wmi.ttf?t=1495094963108') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_vy6lsp99qpfu5wmi.svg?t=1495094963108#dbl-icon-base') format('svg'); /* iOS 4.1- */
}

.dbl-icon-base {
  font-family:"dbl-icon-base" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dbl-icon-base-sina:before { content: "\e602"; }

.dbl-icon-base-weixin:before { content: "\e607"; }

.dbl-icon-base-gegduo:before { content: "\e608"; }

.dbl-icon-base-denglv:before { content: "\e609"; }

.dbl-icon-base-arrow-down:before { content: "\e62e"; }

.dbl-icon-base-arrow-left:before { content: "\e62f"; }

.dbl-icon-base-bang:before { content: "\e630"; }

.dbl-icon-base-arrow-right:before { content: "\e631"; }

.dbl-icon-base-arrow-up:before { content: "\e632"; }

.dbl-icon-base-close:before { content: "\e633"; }

.dbl-icon-base-aliyun-mobile:before { content: "\e634"; }

.dbl-icon-base-fee:before { content: "\e635"; }

.dbl-icon-base-idcard:before { content: "\e636"; }

.dbl-icon-base-earth:before { content: "\e637"; }

.dbl-icon-base-litst:before { content: "\e638"; }

.dbl-icon-base-mail:before { content: "\e639"; }

.dbl-icon-base-info:before { content: "\e63a"; }

.dbl-icon-base-money:before { content: "\e63b"; }

.dbl-icon-base-right:before { content: "\e63c"; }

.dbl-icon-base-pen:before { content: "\e63d"; }

.dbl-icon-base-mqs:before { content: "\e63e"; }

.dbl-icon-base-Search:before { content: "\e63f"; }

.dbl-icon-base-service:before { content: "\e640"; }

.dbl-icon-base-shopping-cart:before { content: "\e641"; }

.dbl-icon-base-tel:before { content: "\e642"; }

.dbl-icon-base-unpaid:before { content: "\e643"; }

.dbl-icon-base-up:before { content: "\e644"; }

.dbl-icon-base-wrong:before { content: "\e645"; }

.dbl-icon-base-play:before { content: "\e648"; }

.dbl-icon-base-right1:before { content: "\e64a"; }

